<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-open-native-settings" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>opennativesetting</name>
<js-module name="opennativesetting" src="www/OpenNativeSetting.js">
<clobbers target="cordova.plugins.opennativesetting" /></js-module>
<platform name="ios">
<config-file parent="/*" target="config.xml">
<feature name="opennativesetting"><param name="ios-package" value="opennativesetting" />
</feature></config-file>
<header-file src="src/ios/OpenNativeSetting.h" />
<source-file src="src/ios/OpenNativeSetting.m" /></platform></plugin>